/* Place your CSS styles in this file */

h1 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

body{
    background-color: #6996AD;

}

h1{
    color:white;
}

p{
    color:white;
}

a{
    color:white;
}

