/* Place your CSS styles in this file */

.bottomPanelIndex{
    background-color: cornsilk;
    width: 100px;
    height: 130px;
    text-decoration: none;
    padding:10px;
    text-align: center;
    align-content: center;
    margin-top: 10px;
}

.bottomPanelIndex p {
    color: crimson;
}

.flex-container {
      display: flex;
      gap: 10px;
      align-items: left;
      
}



h1 {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

body{
    background-color: #6996AD;
    font-family: "Source Sans Pro", sans-serif;
}

h1{
    color:white;
}

h2{
    color:rgb(255, 255, 255);
}

h3{
    color:white;
}

p{
    color:white;
}

a{
    color:white;
}

.mainbitch{
    padding:20px;
}

.panel{
    width: 100px;
    height: 100px;
    display: inline-block;
    text-decoration: none;
    padding:10px;
    text-align: center;
    align-content: center;
}



